<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BTC Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SDKSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SSG PAY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SSG PAY2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SSG PAY3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SSG PAY4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D6CC6A21B902EAF002C7CFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D6CC6BB1B902EAF002C7CFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD53F9441BF1D9D100F0363B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD53F95D1BF1E7E000F0363B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD6767211BF5B0B6008E0521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD72F8921BF46C5500E2B4AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDEEF24F1BF46FF700F3901C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
